<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/mainLayout}">
<head>

    <title>Lead Link - sign in</title>


</head>
<body>



<section layout:fragment="content">

    <div class="container overflow-hidden text-center">
            <div class="col" style="display: flex; justify-content: center; align-items: center">
                <div>
                    <h1>Nalezněte své obchodní příležitosti a navážete silné vztahy se svými zákazníky.</h1>
                    <h4 style="padding-top: 30px">Naše CRM aplikace vám poskytne nástroje potřebné k efektivnímu řízení vašich obchodních aktivit a dosažení úspěchu</h4>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>